@media screen and (min-width:375px){}
@media screen and (min-width:425px){}
@media screen and (min-width:768px){
    body {
        padding: 50px 80px;
    }
    .menu {
        position: unset;
        top: unset;
        right: unset;
        width: auto;
        height: unset;
    }
}
@media screen and (min-width:1024px){
    body {
        padding: 50px 100px;
    }
}
@media screen and (min-width:1200px){
    body {
        padding: 90px 165px 130px 165px;
    }
    .logo img {width: unset; height: unset;}
    .gridContainer {
        grid-template-columns: 2fr 1fr;
        column-gap: 30px;
        row-gap: 70px;
    }
    .blogs_part1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .blogbox_content {
        width: 100%;
    }
    .bright {
        max-width: 340px;
    }
    .readmore_container {
        max-width: 310px;
    }
    .new_caption {
        font-size: 40px !important;
    }
    .mb-64 {
        margin-bottom: 0;
    }
    .mb-32 {
        margin-bottom: 0;
    }
    .fs-56 {
        font-size: 56px !important;
        line-height: 56px !important;
    }
}
@media screen and (min-width: 1400px)
{
    .readmore_container {
        max-width: 350px;
    }
}
@media screen and (min-width:1600px){
    body {
        padding: 90px 190px 130px 190px;
    }
    
}
@media screen and (min-width:1900px)
{
    body {
        padding: 90px 250px 130px 250px;
    }
    .web30_content {
        justify-content: space-around !important;
    }
}
